body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url(img/bg.jpeg);
    background-size: cover;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

form {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    font-weight: bold;
}

input {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#userList {
    margin-top: 40px;
    width: 90%;
    max-width: 400px;
    margin: 40px auto 0;
}

#userList h2 {
    text-align: center;
    margin-bottom: 15px;
}

#userTable {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.1);
}

#userTable thead tr {
    background-color: #ffffff;
}

#userTable th,
#userTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

/* Таблиця стилі */
#userTable table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
}

#userTable th, #userTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

#userTable tr:nth-child(odd) {
    background-color: #ffffff;
}

#userTable tr:nth-child(even) {
    background-color: #f0f8ff; 
}

#userTable th {
    background-color: #f2f2f2; 
    font-weight: bold;
}

#userTable tbody tr:hover {
    background-color: #e9e9e9;
}
